$white: #ffffff;

$color-text-primary: rgba(7, 0, 15, 1);
$color-text-tertiary: rgba(7, 0, 15, 0.40);
$color-icon-primary: rgba(7, 0, 15, 1);

$bg-neutral: rgba(2, 22, 45, 0.05);
$bg-accent: rgba(0, 103, 254, 1);

$border-primary: rgba(7, 0, 15, 0.1);
$border-strong: rgba(7, 0, 15, 1);

$color-border-primary-hover: rgba(7, 0, 15, 0.40);